#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

INSTALLDIR = $(CURDIR)/debian/tmp
libdir = /usr/share

%:
	dh $@

patch-template: patch-template-stamp
	:

patch-template-stamp:
	python_exe=`which python`; \
	for templ in templates/*; do \
	    newname=`basename $$templ .in` ; \
	    if test ! -f $${newname}.save ; then \
	        cp $${newname} $${newname}.save ; \
	    fi ; \
	    sed -e "s|@PYTHON@|$$python_exe|g" \
	        -e "s|@libdir@|$(libdir)|" \
		< $$templ > $${newname}; \
	done
	touch $@

unpatch-template:
	for templ in templates/*; do \
	    newname=`basename $$templ .in` ; \
	    if test -f $${newname}.save; then \
	        mv $${newname}.save $${newname}; \
	    fi ; \
	done
	rm -f patch-template-stamp;

clean: unpatch-template
	dh clean
	python setup.py clean -a
	cd transferapiclient; python setup.py clean -a; 
	rm -rf debian/globus-connect-server.install
	rm -f build-stamp

build: build-stamp
	:

build-stamp: patch-template
	cd transferapiclient; python setup.py build
	python setup.py build
	touch $@

install-stamp: build-stamp
	python setup.py install --install-layout=deb --root=$(INSTALLDIR) --no-compile
	cd transferapiclient; python setup.py install --install-layout=deb --install-lib=$(libdir)/globus-connect-server --root=$(INSTALLDIR) --no-compile
	find debian/tmp -type f -name 'globus-connect-server-setup*' -o -name 'globus-connect-server-cleanup*'| while read filename; do \
		echo "$$filename" |sed -e s"|debian/tmp/||"; \
	done > debian/globus-connect-server.install
	find debian/tmp -type f -name 'globus-connect-server-io-*' | while read filename; do \
		echo "$$filename" |sed -e s"|debian/tmp/||"; \
	done > debian/globus-connect-server-io.install
	find debian/tmp -type f -name 'globus-connect-server-id-*' | while read filename; do \
		echo "$$filename" |sed -e s"|debian/tmp/||"; \
	done > debian/globus-connect-server-id.install
	find debian/tmp -type f -name 'globus-connect-server-web-*' | while read filename; do \
		echo "$$filename" |sed -e s"|debian/tmp/||"; \
	done > debian/globus-connect-server-web.install
	find debian/tmp -type f -a -not -name 'globus-connect-server-*up*' | while read filename; do \
		echo "$$filename" |sed -e s"|debian/tmp/||"; \
	done > debian/globus-connect-server-common.install
	dh_install

install: install-stamp
	:

binary: install
	dh $@

.PHONY: patch-template unpatch-template clean build install binary
