Source: globus-gsi-cert-utils
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libglobus-common-dev (>= 14), libglobus-openssl-module-dev (>= 3), libglobus-gsi-openssl-error-dev (>= 2), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, pkg-config, openssl
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gsi-cert-utils
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gsi-cert-utils
Homepage: http://www.globus.org/

Package: libglobus-gsi-cert-utils0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus GSI Cert Utils Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-cert-utils0 package contains:
 Globus GSI Cert Utils Library

Package: globus-gsi-cert-utils-progs
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, globus-common-progs
Description: Globus Toolkit - Globus GSI Cert Utils Library Programs
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gsi-cert-utils-progs package contains:
 Globus GSI Cert Utils Library Programs

Package: libglobus-gsi-cert-utils-dev
Section: libdevel
Architecture: any
Depends: libglobus-gsi-cert-utils0 (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev, libglobus-openssl-module-dev, libglobus-gsi-openssl-error-dev
Recommends: libglobus-gsi-cert-utils-doc (= ${binary:Version})
Description: Globus Toolkit - Globus GSI Cert Utils Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-cert-utils-dev package contains:
 Globus GSI Cert Utils Library Development Files

Package: libglobus-gsi-cert-utils-doc
Section: doc
Architecture: any
Depends: libglobus-gsi-cert-utils-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI Cert Utils Library Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-cert-utils-doc package contains:
 Globus GSI Cert Utils Library Documentation Files

Package: libglobus-gsi-cert-utils-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gsi-cert-utils0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI Cert Utils Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-cert-utils-dbg package contains:
 Globus GSI Cert Utils Library Debug Symbols
