aclocal.m4
autom4te.cache
configure
missing
gptdata.sh
install-sh
ltmain.sh
mkinstalldirs
Makefile.in
Makefile
config.log
config.guess
config.cache
config.status
config.sub
globus_gram_client_test-[0-9]*
globus-gram-client-run-tests.pl
*-test
*.lo
*.la
.libs
