aclocal.m4
autom4te.cache
configure.in
config.h.in
config.h
extensions.h
missing
install-sh
mkinstalldirs
Makefile.in
Makefile
config.log
config.cache
config.guess
config.sub
config.status
configure
*.tar.gz
ltmain.sh
stamp-h1
version.h
*.lo
*.la
.libs
