Source: globus-resource-management-client
Section: net
Priority: extra
Maintainer: Globus Support <support@globus.org>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.globus.org/

Package: globus-resource-management-client
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, globus-core, globus-common-progs, libglobus-callout0, libglobus-gsi-openssl-error0, libglobus-gsi-proxy-ssl1, libglobus-rsl2, libglobus-openssl-module0, globus-gsi-cert-utils-progs, globus-simple-ca, libglobus-gsi-sysconfig1, libglobus-gsi-callback0, libglobus-gsi-credential1, libglobus-gsi-proxy-core0, libglobus-gssapi-gsi4, globus-proxy-utils, libglobus-gss-assist3, globus-gss-assist-progs, libglobus-xio0, libglobus-xio-gsi-driver0, libglobus-io3, libglobus-gssapi-error2, libglobus-gass-transfer2, libglobus-gram-protocol3, globus-gass-server-ez-progs, libglobus-gram-client3, globus-gram-client-tools
Description: Globus Resource Management Client Metapackage
 This package contains dependencies to install the client packages related to
 the resource management components of the Globus Toolkit.
