#
# Example myproxy server configuration file
#
# Any line starting with a pound sign (#) is a comment.
#
######################################################################

#
# Allowed clients
#
# Allow any Alliance certificate holder to store certificates with us
allowed_clients  "/C=US/O=National Computational Science Alliance/CN=*"
#
# Allow any Globus certificate holder to store certificates with us
allowed_clients  "/C=US/O=Globus/*"

#
# Servers allowed to connect and retrieve certificates. These should
# be trusted portals or other services.
#
allowed_services "/C=US/O=National Computational Science Alliance/CN=portal/*"
allowed_services "/C=US/O=Globus/O=The University of Illinois Urbana-Champaign/OU=The National Center for Supercomputing Applications/CN=host/cerberos2.ncsa.uiuc.edu"
