#
# Example myproxy server configuration file.
#
# You should modify this file to meet your specific requirements.
#
# Any line starting with a pound sign (#) is a comment.
#
######################################################################

#
# Allowed clients
#
# Allow any Alliance certificate holder to store credentials with us
#allowed_clients  "/C=US/O=National Computational Science Alliance/CN=*"
#
# Allow any Globus certificate holder to store credentials with us
allowed_clients  "/O=Grid/O=Globus/*"
allowed_clients  "/C=CZ/O=CESNET/*"
allowed_clients  "/O=CESNET/*"

#
# Servers allowed to connect and retrieve certificates. These should
# be trusted portals or other services.
#
# Allow any holder of an Alliance portal certificate to retrieve
# credentials stored with us.
allowed_services "/O=Grid/O=Globus/*"
allowed_services "/C=CZ/O=CESNET/*"
allowed_services "/O=CESNET/*"
