Source: globus-xioperf
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libglobus-common-dev (>= 14), libglobus-xio-dev (>= 3), pkg-config
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gass-copy
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gass-copy
Homepage: http://www.globus.org/

Package: globus-xioperf
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - XIO Performance Tool Programs
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gass-copy-progs package contains:
 XIO Performance Tool Programs

Package: globus-xioperf-dbg
Section: debug
Priority: extra
Architecture: any
Depends: globus-xioperf (= ${binary:Version})
Description: Globus Toolkit - XIO Performance Tool Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gass-copy-dbg package contains:
 XIO Performance Tool Debug Symbols
