#The following must be changed by the user.  See your database's
#JDBC documentation if you need help.

#Change this to match the class name of your database driver
database-driver = org.postgresql.Driver

#Change this to the location of your database.  The user and password
#should also be specified in the url, and must match an existing account
#in your database.
database-url = jdbc:postgresql://localhost:5432/@USER@?user=@USER@

database-validation-query = select 1

#If you expect to get a lot of packets at once, a larger ring buffer
#can help you not to lose them:
ringbuffer-size = 8192

#This defines the domains from which packets should be filtered out
#(and put in gftp-filtered-out-table):
#gftp-filter-domains = mcs.anl.gov,isi.edu

#The following should probably not be changed by the user:

#These must match the names of the database tables you create to store
#packets.  If you change them you must also change the names in
#create_tables.sql.
#default-table = unknown_packets
#gftp-table = gftp_packets
#gftp-filtered-out-table = mcs_internal_gftp_packets
#rft-table = rft_packets
#jws-core-table = java_ws_core_packets
#cws-core-table = c_ws_core_packets
#gram-table = gram_packets
#rls-table = rls_packets
#mds-table = mds_packets
#ogsadai-table = ogsadai_packets
#drs-table = drs_packets
#mpig-table = mpig_packets

#handlers = org.globus.usage.receiver.handlers.CCorePacketHandler \
#           org.globus.usage.receiver.handlers.CCorePacketHandlerV2 \
#           org.globus.usage.receiver.handlers.GRAMPacketHandler \
#           org.globus.usage.receiver.handlers.GridFTPPacketHandler \
#           org.globus.usage.receiver.handlers.JavaCorePacketHandler \
#           org.globus.usage.receiver.handlers.JavaCorePacketHandlerV2 \
#           org.globus.usage.receiver.handlers.MDSAggregatorPacketHandler \
#           org.globus.usage.receiver.handlers.RFTPacketHandler \
#           org.globus.usage.receiver.handlers.RLSPacketHandler \
#           org.globus.usage.receiver.handlers.OGSADAIPacketHandler
#           org.globus.usage.receiver.handlers.DRSPacketHandler
#           org.globus.usage.receiver.handlers.MPIGPacketHandler
#
#This is the standard port on which packets are sent.  Change it only
#if you are also changing the senders to match.
#listening-port = 4810

