include conf/*
recursive-include myproxy *.py
recursive-include myproxyoauth *.py
include myproxyoauth/static/*
include myproxyoauth/templates/*
recursive-include oauth2 *
include *.py
include README.md
include MANIFEST.in
