include $(top_srcdir)/globus_automake_pre
include $(top_srcdir)/globus_automake_pre_top

Scripts = \
	setup-ssl-utils-sh-scripts \
	setup-ssl-utils \
	setup-ssl-utils.pl \
	setup-gsi \
	setup-gsi.pl \
	grid-cert-request-config.in \
	grid-security-config.in \
	grid-default-ca
	

setup_SCRIPTS = $(Scripts)

setup_DATA = \
	globus-ssl.conf \
	grid-security.conf.__CACERT_HASH__ \
	__CACERT_HASH__.0 \
	__CACERT_HASH__.signing_policy

SUBDIRS = pkgdata

EXTRA_DIST = \
	$(Scripts) \
	grid-default-ca \
	grid-security.conf.__CACERT_HASH__ \
	globus-ssl.conf \
	__CACERT_HASH__.0 \
	__CACERT_HASH__.signing_policy
	setup-ssl-utils-sh-scripts.in
	
include $(top_srcdir)/globus_automake_post
include $(top_srcdir)/globus_automake_post_top
