Source: globus-gssapi-error
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, grid-packaging-tools, libglobus-common-dev (>= 14), libglobus-gss-assist-dev (>= 8), libglobus-gssapi-gsi-dev, globus-core (>= 7.7), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1) | doxygen-latex, graphviz, texlive-fonts-recommended, texlive-font-utils, ghostscript
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gssapi-error
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gssapi-error
Homepage: http://www.globus.org/

Package: libglobus-gssapi-error2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - GSSAPI Error Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gssapi-error2 package contains:
 GSSAPI Error Library

Package: libglobus-gssapi-error-dev
Section: libdevel
Architecture: any
Depends: libglobus-gssapi-error2 (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev, libglobus-gss-assist-dev, libglobus-gssapi-gsi-dev, globus-core (>= 7)
Recommends: libglobus-gssapi-error-doc (= ${binary:Version})
Description: Globus Toolkit - GSSAPI Error Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gssapi-error-dev package contains:
 GSSAPI Error Library Development Files

Package: libglobus-gssapi-error-doc
Section: doc
Architecture: any
Depends: libglobus-gssapi-error-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - GSSAPI Error Library Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gssapi-error-doc package contains:
 GSSAPI Error Library Documentation Files

Package: libglobus-gssapi-error-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gssapi-error2 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - GSSAPI Error Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gssapi-error-dbg package contains:
 GSSAPI Error Library Debug Symbols

Package: globus-gssapi-error-dbg
Section: oldlibs
Priority: extra
Architecture: all
Depends: libglobus-gssapi-error-dbg (= ${binary:Version})
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
