Source: globus-gram5
Section: net
Priority: extra
Maintainer: Globus Support <support@globus.org>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.globus.org/

Package: globus-gram5
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, globus-gatekeeper, globus-gram-job-manager, globus-gram-job-manager-scripts, globus-gram-job-manager-fork-setup-poll, globus-gram-client-tools, globus-gass-cache-program, globus-gass-server-ez-progs, globus-gss-assist-progs, globus-common-progs, globus-gsi-cert-utils-progs, globus-proxy-utils
Description: Globus GRAM5 Metapackage
 This package contains dependenc to install of the tools related to both run 
 a Globus GRAM5 server and use the GRAM5 client tools.
