Source: globus-gridmap-verify-myproxy-callout
Priority: optional
Maintainer: Globus Toolkit <support@globus.org>
Build-Depends: debhelper (>= 5), autotools-dev, grid-packaging-tools, libglobus-common-dev, globus-core (>= 8), libglobus-gsi-sysconfig-dev (>= 1), libglobus-gssapi-gsi-dev (>= 4), libglobus-gss-assist-dev (>= 3), libglobus-gridmap-callout-error-dev, libglobus-gsi-credential-dev (>= 6)
Standards-Version: 3.8.4
Section: net
Homepage: http://www.globus.org/

Package: libglobus-gridmap-verify-myproxy-callout0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap MyProxy Callout
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-verify-myproxy-callout0 package contains:
 Globus Gridmap MyProxy Callout

Package: libglobus-gridmap-verify-myproxy-callout-doc
Section: doc
Architecture: any
Depends: libglobus-gridmap-verify-myproxy-callout0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap MyProxy Callout Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-verify-myproxy-callout-doc package contains:
 Globus Gridmap MyProxy Callout Documentation Files

Package: libglobus-gridmap-verify-myproxy-callout-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gridmap-verify-myproxy-callout0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap MyProxy Callout Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-verify-myproxy-callout-dbg package contains:
 Globus Gridmap MyProxy Callout Debug Symbols
