Source: globus-gsi-proxy-core
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, grid-packaging-tools, libglobus-gsi-proxy-ssl-dev (>= 4), libglobus-gsi-credential-dev (>= 5), libglobus-openssl-module-dev, libglobus-gsi-openssl-error-dev, globus-core (>= 7.7), libglobus-gsi-cert-utils-dev (>= 8), libglobus-common-dev (>= 14), libglobus-gsi-sysconfig-dev (>= 5), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1) | doxygen-latex, graphviz, texlive-fonts-recommended, texlive-font-utils, ghostscript
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gsi-proxy-core
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gsi-proxy-core
Homepage: http://www.globus.org/

Package: libglobus-gsi-proxy-core0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus GSI Proxy Core Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-proxy-core0 package contains:
 Globus GSI Proxy Core Library

Package: libglobus-gsi-proxy-core-dev
Section: libdevel
Architecture: any
Depends: libglobus-gsi-proxy-core0 (= ${binary:Version}), ${misc:Depends}, libglobus-gsi-proxy-ssl-dev, libglobus-gsi-credential-dev, libglobus-openssl-module-dev, libglobus-gsi-openssl-error-dev, globus-core (>= 7), libglobus-gsi-cert-utils-dev, libglobus-common-dev, libglobus-gsi-sysconfig-dev
Recommends: libglobus-gsi-proxy-core-doc (= ${binary:Version})
Description: Globus Toolkit - Globus GSI Proxy Core Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-proxy-core-dev package contains:
 Globus GSI Proxy Core Library Development Files

Package: libglobus-gsi-proxy-core-doc
Section: doc
Architecture: any
Depends: libglobus-gsi-proxy-core-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI Proxy Core Library Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-proxy-core-doc package contains:
 Globus GSI Proxy Core Library Documentation Files

Package: libglobus-gsi-proxy-core-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gsi-proxy-core0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI Proxy Core Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-proxy-core-dbg package contains:
 Globus GSI Proxy Core Library Debug Symbols

Package: globus-gsi-proxy-core-dbg
Section: oldlibs
Priority: extra
Architecture: all
Depends: libglobus-gsi-proxy-core-dbg (= ${binary:Version})
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
