Source: globus-data-management-server
Section: net
Priority: extra
Maintainer: Globus Support <support@globus.org>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.globus.org/

Package: globus-data-management-server
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, globus-common-progs, globus-gfork-progs, globus-xio-pipe-driver, globus-gsi-cert-utils-progs, globus-gss-assist-progs, globus-ftp-control, globus-authz-callout-error, globus-authz, globus-usage, globus-xioperf, globus-gridftp-server-progs
Description: Globus Data Management Server Metapackage
 This package contains dependencies to install the data management service
 components of the Globus Toolkit.
