# SystemD File for myproxy-server.

[Unit]
Description=Server for X.509 Public Key Infrastructure (PKI) security credentials
After=syslog.target auditd.service

[Service]
Type=forking
User=myproxy
Environment=X509_USER_CERT=/etc/grid-security/myproxy/hostcert.pem
Environment=X509_USER_KEY=/etc/grid-security/myproxy/hostkey.pem
ExecStart=/usr/sbin/myproxy-server --pidfile /var/run/myproxy-server/myproxy.pid
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/myproxy-server/myproxy.pid

[Install]
WantedBy=multi-user.target

