Source: globus-ftp-client
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, grid-packaging-tools, libglobus-xio-popen-driver-dev, libglobus-common-dev (>= 14), libglobus-ftp-control-dev (>= 4), globus-core (>= 7.7), libglobus-ftp-control-doc (>= 1), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1) | doxygen-latex, graphviz, texlive-fonts-recommended, texlive-font-utils, ghostscript
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-ftp-client
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-ftp-client
Homepage: http://www.globus.org/

Package: libglobus-ftp-client2
Conflicts: libglobus-ftp-client1
Replaces: libglobus-ftp-client1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglobus-xio-popen-driver0
Description: Globus Toolkit - GridFTP Client Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-ftp-client2 package contains:
 GridFTP Client Library

Package: globus-ftp-client-progs
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglobus-ftp-client2
Description: Globus Toolkit - GridFTP Client Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-ftp-client2 package contains:
 GridFTP Client Programs

Package: libglobus-ftp-client-dev
Section: libdevel
Architecture: any
Depends: libglobus-ftp-client2 (= ${binary:Version}), ${misc:Depends}, libglobus-xio-popen-driver-dev, libglobus-common-dev, libglobus-ftp-control-dev, globus-core (>= 7.7)
Recommends: libglobus-ftp-client-doc (= ${binary:Version})
Description: Globus Toolkit - GridFTP Client Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-ftp-client-dev package contains:
 GridFTP Client Library Development Files

Package: libglobus-ftp-client-doc
Section: doc
Architecture: any
Depends: libglobus-ftp-client-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - GridFTP Client Library Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-ftp-client-doc package contains:
 GridFTP Client Library Documentation Files

Package: libglobus-ftp-client-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-ftp-client2 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - GridFTP Client Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-ftp-client-dbg package contains:
 GridFTP Client Library Debug Symbols

Package: globus-ftp-client-dbg
Section: oldlibs
Priority: extra
Architecture: all
Depends: libglobus-ftp-client-dbg (= ${binary:Version})
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
