Source: globus-gram-job-manager
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libglobus-scheduler-event-generator-dev (>= 4), libglobus-xio-popen-driver-dev (>= 2), libglobus-xio-dev (>= 3), libglobus-gss-assist-dev (>= 8), libglobus-gsi-sysconfig-dev (>= 5), libglobus-callout-dev (>= 2), libglobus-gram-job-manager-callout-error-dev (>= 2), libglobus-gram-protocol-dev (>= 11), libglobus-common-dev (>= 14), libglobus-usage-dev (>= 3), libglobus-rsl-dev (>= 9), libglobus-gass-cache-dev (>= 8), libxml2-dev, libglobus-gass-transfer-dev (>= 7), libglobus-gram-protocol-doc (>= 9), libglobus-common-doc (>= 0), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, pkg-config, globus-gram-client-tools (>= 10), globus-gsi-cert-utils-progs (>= 0), globus-gatekeeper (>= 0), globus-gram-job-manager-scripts (>= 0), globus-gram-job-manager-fork-setup-poll (>= 0), globus-gram-client-dev (>= 0)
Standards-Version: 3.9.0
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gram-job-manager
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gram-job-manager
Homepage: http://www.globus.org/

Package: globus-gram-job-manager
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglobus-xio-popen-driver0, libxml2, globus-gram-job-manager-scripts, globus-gass-copy-progs, globus-proxy-utils, globus-gass-cache-program, globus-common-progs, globus-gatekeeper
Recommends: globus-gram-job-manager-doc (= ${binary:Version})
Breaks: globus-gram-job-manager-doc (<< 10.59)
Description: Globus Toolkit - GRAM Jobmanager
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager package contains:
 GRAM Jobmanager
 GRAM Job Manager Setup

Package: globus-gram-job-manager-doc
Section: doc
Architecture: any
Depends: globus-gram-job-manager (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - GRAM Jobmanager Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-doc package contains:
 GRAM Jobmanager Documentation Files
 GRAM Job Manager Setup Documentation Files

Package: globus-gram-job-manager-dbg
Section: debug
Priority: extra
Architecture: any
Depends: globus-gram-job-manager (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - GRAM Jobmanager Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-dbg package contains:
 GRAM Jobmanager Debug Symbols
