Source: myproxy
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libglobus-common-dev, libglobus-xio-dev, libglobus-gss-assist-dev
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gass-copy
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gass-copy
Homepage: http://www.globus.org/

Package: libmyproxy5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MyProxy Library
 MyProxy is open source software for managing X.509 Public Key Infrastructure
 (PKI) security credentials (certificates and private keys). MyProxy
 combines an online credential repository with an online certificate
 authority to allow users to securely obtain credentials when and where needed.
 Users run myproxy-logon to authenticate and obtain credentials, including
 trusted CA certificates and Certificate Revocation Lists (CRLs).
 .
 The libmyproxy5 package contains:
 MyProxy Library

Package: libmyproxy-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MyProxy Development Files
 MyProxy is open source software for managing X.509 Public Key Infrastructure
 (PKI) security credentials (certificates and private keys). MyProxy
 combines an online credential repository with an online certificate
 authority to allow users to securely obtain credentials when and where needed.
 Users run myproxy-logon to authenticate and obtain credentials, including
 trusted CA certificates and Certificate Revocation Lists (CRLs).
 .
 The myproxy-progs package contains:
 MyProxy Development Files

Package: libmyproxy-doc
Section: doc
Architecture: any
Depends: libmyproxy-dev (= ${binary:Version}), ${misc:Depends}
Description: MyProxy Library Documentation
 MyProxy is open source software for managing X.509 Public Key Infrastructure
 (PKI) security credentials (certificates and private keys). MyProxy
 combines an online credential repository with an online certificate
 authority to allow users to securely obtain credentials when and where needed.
 Users run myproxy-logon to authenticate and obtain credentials, including
 trusted CA certificates and Certificate Revocation Lists (CRLs).
 .
 The myproxy-progs package contains:
 MyProxy Library Documentation Files

Package: myproxy
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmyproxy5, libglobus-gss-assist3, libglobus-usage0
Description: MyProxy Client Programs
 MyProxy is open source software for managing X.509 Public Key Infrastructure
 (PKI) security credentials (certificates and private keys). MyProxy
 combines an online credential repository with an online certificate
 authority to allow users to securely obtain credentials when and where needed.
 Users run myproxy-logon to authenticate and obtain credentials, including
 trusted CA certificates and Certificate Revocation Lists (CRLs).
 .
 The myproxy package contains:
 MyProxy Client Programs

Package: myproxy-admin
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmyproxy5
Description: MyProxy Administrator Programs
 MyProxy is open source software for managing X.509 Public Key Infrastructure
 (PKI) security credentials (certificates and private keys). MyProxy
 combines an online credential repository with an online certificate
 authority to allow users to securely obtain credentials when and where needed.
 Users run myproxy-logon to authenticate and obtain credentials, including
 trusted CA certificates and Certificate Revocation Lists (CRLs).
 .
 The myproxy-progs package contains:
 MyProxy Administrator Programs

Package: myproxy-server
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmyproxy5
Description: MyProxy Server Programs
 MyProxy is open source software for managing X.509 Public Key Infrastructure
 (PKI) security credentials (certificates and private keys). MyProxy
 combines an online credential repository with an online certificate
 authority to allow users to securely obtain credentials when and where needed.
 Users run myproxy-logon to authenticate and obtain credentials, including
 trusted CA certificates and Certificate Revocation Lists (CRLs).
 .
 The myproxy-progs package contains:
 MyProxy Server Programs

Package: myproxy-dbg
Section: debug
Priority: extra
Architecture: any
Depends: myproxy-progs (= ${binary:Version}) | myproxy-server (= ${binary:Version}) | libmyproxy5 (= ${binary:Version})
Description: MyProxy Debug Symbols
 MyProxy is open source software for managing X.509 Public Key Infrastructure
 (PKI) security credentials (certificates and private keys). MyProxy
 combines an online credential repository with an online certificate
 authority to allow users to securely obtain credentials when and where needed.
 Users run myproxy-logon to authenticate and obtain credentials, including
 trusted CA certificates and Certificate Revocation Lists (CRLs).
 .
 The myproxy-dbg package contains:
 MyProxy Debug Symbols
