<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>Code Coverage for <TMPL_VAR NAME=NAME></title>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
      <link href="coverage.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
      <h1>Summary: <TMPL_VAR NAME=NAME></h1>

      <table cellpadding="2" border="1">
        <tr>
          <th>Summary</th>
          <th>Conditionals</th>
          <th>Functions</th>
          <th>Statements</th>
          <th>Total</th>
        </tr>
        <tr class="odd">
          <td><TMPL_VAR NAME=NAME></td>
          <td><TMPL_VAR NAME=BRANCH_PERCENTAGE></td>
          <td><TMPL_VAR NAME=FUNC_PERCENTAGE></td>
          <td><TMPL_VAR NAME=STATEMENT_PERCENTAGE></td>
          <td>
            <div class="graph">
                <strong class="bar" style="width: <TMPL_VAR NAME=STATEMENT_PERCENTAGE>%;"><TMPL_VAR NAME=STATEMENT_PERCENTAGE>%</strong>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <TMPL_LOOP NAME=PACKAGES>
          <tr <TMPL_IF NAME=PARITY>class="odd"</TMPL_IF>>
            <td><a href="package-<TMPL_VAR NAME=PACKAGE>.html"><TMPL_VAR NAME=PACKAGE></a></td>
              <td><TMPL_VAR NAME=BRANCH_PERCENTAGE>%</td>
              <td><TMPL_VAR NAME=FUNC_PERCENTAGE>%</td>
              <td><TMPL_VAR NAME=STATEMENT_PERCENTAGE>%</td>
              <td> 
                <div class="graph">
                    <strong class="bar" style="width: <TMPL_VAR NAME=STATEMENT_PERCENTAGE>%;"><TMPL_VAR NAME=STATEMENT_PERCENTAGE>%</strong>
                </div>
              </td>
          </tr>
        </TMPL_LOOP>
      </table>
  </body>
</html>
