<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>Code Coverage for <TMPL_VAR NAME=FILE></title>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
      <link href="coverage.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
      <table class="navbartable" width="100%">
        <tr>
          <th>
            <a href="index.html"><TMPL_VAR NAME=BUNDLE></a> -&gt;
            <a href="package-<TMPL_VAR NAME=PACKAGE>"><TMPL_VAR NAME=PACKAGE></a> -&gt;
            <a href="summary-<TMPL_VAR NAME=FILE>"><TMPL_VAR NAME=FILE></a>
          </th>
        </tr>
      </table>
      <h1>Function Summary: <TMPL_VAR NAME=FILE></h1>

      <table cellpadding="2" border="1" width="100%">
        <tr>
          <th>File</th>
          <th>Conditionals</th>
          <th>Statements</th>
          <th>Total</th>
        </tr>
        <tr class="odd">
          <td><a href="source-<TMPL_VAR NAME=FILE>.html"><TMPL_VAR NAME=FILE></a></td>
          <td><TMPL_VAR NAME=BRANCH_PERCENTAGE>%</td>
          <td><TMPL_VAR NAME=STATEMENT_PERCENTAGE>%</td>
          <td> 
            <div class="graph">
                <strong class="bar" style="width: <TMPL_VAR NAME=STATEMENT_PERCENTAGE>%;"><TMPL_VAR NAME=STATEMENT_PERCENTAGE>%</strong>
            </div>
          </td>
        </tr>

        <tr>
            <td colspan="5"></td>
        </tr>
        <tr>
          <th>Function</th>
          <th>Conditionals</th>
          <th>Statements</th>
          <th>Total</th>
        </tr>

        <TMPL_LOOP NAME=FUNCTION>
          <tr <TMPL_UNLESS NAME=PARITY>class="odd"</TMPL_UNLESS>>
              <td><TMPL_VAR NAME=FUNCTION></td>
              <td><TMPL_VAR NAME=BRANCH_PERCENTAGE>%</td>
              <td><TMPL_VAR NAME=STATEMENT_PERCENTAGE>%</td>
              <td> 
                <div class="graph">
                    <strong class="bar" style="width: <TMPL_VAR NAME=STATEMENT_PERCENTAGE>%;"><TMPL_VAR NAME=STATEMENT_PERCENTAGE>%</strong>
                </div>
              </td>
          </tr>
        </TMPL_LOOP>
      </table>
  </body>
</html>
