Source: globus-gridmap-eppn-callout
Priority: optional
Maintainer: Globus Toolkit <support@globus.org>
Build-Depends: debhelper (>= 5), autotools-dev, grid-packaging-tools, libglobus-common-dev, globus-core (>= 8), libglobus-gsi-sysconfig-dev (>= 1), libglobus-gssapi-gsi-dev (>= 4), libglobus-gss-assist-dev (>= 3), libglobus-gridmap-callout-error-dev, libglobus-gsi-credential-dev (>= 6)
Standards-Version: 3.8.4
Section: net
Homepage: http://www.globus.org/

Package: libglobus-gridmap-eppn-callout0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap EPPN Callout
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-eppn-callout0 package contains:
 Globus Gridmap EPPN Callout

Package: libglobus-gridmap-eppn-callout-doc
Section: doc
Architecture: any
Depends: libglobus-gridmap-eppn-callout0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap EPPN Callout Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-eppn-callout-doc package contains:
 Globus Gridmap EPPN Callout Documentation Files

Package: libglobus-gridmap-eppn-callout-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gridmap-eppn-callout0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap EPPN Callout Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-eppn-callout-dbg package contains:
 Globus Gridmap EPPN Callout Debug Symbols

Package: globus-gridmap-eppn-callout-dbg
Section: debug
Priority: extra
Architecture: all
Depends: libglobus-gridmap-eppn-callout-dbg (= ${binary:Version})
Description: Globus Toolkit - Globus Gridmap EPPN Callout Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gridmap-eppn-callout-dbg package contains:
 Globus Gridmap EPPN Callout Debug Symbols
