Source: gcmu
Section: net
Priority: extra
Maintainer: Globus Support <support@globus.org>
Build-Depends: cdbs, debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.globusonline.org

Package: gcmu
Architecture: all
Depends: ${misc:Depends}, globus-gridftp-server-progs, globus-gass-copy-progs, globus-gss-assist-progs, myproxy, myproxy-server, gsi-openssh, gsi-openssh-clients, gsi-openssh, globus-gsi-cert-utils-progs, globus-simple-ca, libglobus-gridmap-verify-myproxy-callout0, python, xinetd
Description: Globus Connect Multi-User
 Globus Connect Multi-User configures a GridFTP server, MyProxy server and
 MyProxy Online CA for use with Globus Online 
