#!/usr/bin/make -f

export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

INSTALLDIR=$(CURDIR)/debian/tmp

cert_dir=$(INSTALLDIR)/etc/grid-security/certificates

# Add here any variable or target overrides you need.
old_ca_hash="4396eb4d"

install/gcmu::
	dh_testdir
	dh_testroot
	dh_clean -k
	[ ! -f README ] || rm -f README
	mkdir -p $(INSTALLDIR)
	cp -r gc/* $(INSTALLDIR)
	new_ca_hash="`openssl x509 -noout -hash -in $(cert_dir)/$(old_ca_hash).0`"; \
        if [ "$$new_ca_hash" != "$(old_ca_hash)" ]; then  \
            mv "$(cert_dir)/$(old_ca_hash).signing_policy" \
               "$(cert_dir)/$$new_ca_hash.signing_policy"; \
            mv "$(cert_dir)/$(old_ca_hash).0" \
               "$(cert_dir)/$$new_ca_hash.0"; \
        fi
	mkdir -p $(INSTALLDIR)/usr/share/gcmu
	cp install $(INSTALLDIR)/usr/share/gcmu/
	cp root-unsetup $(INSTALLDIR)/usr/share/gcmu/uninstall
	mkdir -p $(INSTALLDIR)/var/lib/gcmu
	mkdir -p $(INSTALLDIR)/usr/etc/ssh
	mkdir -p $(INSTALLDIR)/usr/share/doc/gcmu
	find $(INSTALLDIR) -type f | sed -e 1d -e 's|$(INSTALLDIR)/||' > debian/install
