Source: globus-gsi-openssl-error
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 6.0.7~), autotools-dev, libglobus-common-dev, libssl-dev, doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz
Standards-Version: 3.8.4
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gsi-openssl-error
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gsi-openssl-error
Homepage: http://www.globus.org/

Package: libglobus-gsi-openssl-error0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus OpenSSL Error Handling
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-openssl-error0 package contains:
 Globus OpenSSL Error Handling

Package: libglobus-gsi-openssl-error-dev
Section: libdevel
Architecture: any
Depends: libglobus-gsi-openssl-error0 (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev
Recommends: libglobus-gsi-openssl-error-doc (= ${binary:Version})
Description: Globus Toolkit - Globus OpenSSL Error Handling Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-openssl-error-dev package contains:
 Globus OpenSSL Error Handling Development Files

Package: libglobus-gsi-openssl-error-doc
Section: doc
Architecture: any
Depends: libglobus-gsi-openssl-error-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus OpenSSL Error Handling Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-openssl-error-doc package contains:
 Globus OpenSSL Error Handling Documentation Files

Package: globus-gsi-openssl-error-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gsi-openssl-error0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus OpenSSL Error Handling Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gsi-openssl-error-dbg package contains:
 Globus OpenSSL Error Handling Debug Symbols
