Source: gsi-openssh
Priority: optional
Maintainer: Globus Support <support@globus.org>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libldap2-dev, zlib1g-dev, libaudit-dev, libpam-dev, libwrap0-dev, libssl-dev, libglobus-gss-assist-dev, libglobus-usage-dev, globus-common-progs, libedit-dev, pkg-config
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gass-copy
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gass-copy
Homepage: http://www.globus.org/

Package: gsi-openssh
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GSI OpenSSH
 OpenSSH is a free version of SSH (Secure SHell), a program for logging
 into and executing commands on a remote machine. This package includes
 the clients necessary to make encrypted connections to SSH servers.
 .
 This version of OpenSSH has been modified to support GSI authentication.
 .
 The gsi-openssh package contains:
 GSI OpenSSH Common files

Package: gsi-openssh-clients
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GSI OpenSSH Clients
 OpenSSH is a free version of SSH (Secure SHell), a program for logging
 into and executing commands on a remote machine. This package includes
 the clients necessary to make encrypted connections to SSH servers.
 .
 This version of OpenSSH has been modified to support GSI authentication.
 .
 The gsi-openssh-clients package contains:
 GSI OpenSSH Clients

Package: gsi-openssh-server
Section: net
Architecture: any
Depends: gsi-openssh (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: GSI OpenSSH Server
 OpenSSH is a free version of SSH (Secure SHell), a program for logging
 into and executing commands on a remote machine. This package contains
 the secure shell daemon (sshd). The sshd daemon allows SSH clients to
 securely connect to your SSH server.
 .
 This version of OpenSSH has been modified to support GSI authentication.
 .
 The gsi-openssh-server package contains:
 GSI OpenSSH Server

Package: gsi-openssh-dbg
Section: debug
Priority: extra
Architecture: any
Depends: gsi-openssh (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: GSI OpenSSH Server
 OpenSSH is a free version of SSH (Secure SHell), a program for logging
 into and executing commands on a remote machine. This package contains
 the secure shell daemon (sshd). The sshd daemon allows SSH clients to
 securely connect to your SSH server.
 .
 This version of OpenSSH has been modified to support GSI authentication.
 .
 The gsi-openssh-server package contains:
 GSI OpenSSH Debug Symbols
