
mechinfo gss {
   cred_pull libglobus_gaa_gss_generic_$f.so gaa_gss_generic_cred_pull
   cred_eval libglobus_gaa_gss_generic_$f.so gaa_gss_generic_cred_eval
   cred_verify libglobus_gaa_gss_generic_$f.so gaa_gss_generic_cred_verify
   params #X509SubjectName
}

cond_eval identity #X509SubjectName {
    cond_eval libglobus_gaa_simple_$f.so gaa_simple_check_id_cond
    sym_params libglobus_gaa_simple_$f.so gaa_identity
    idcred yes
}

cond_eval cond_local_access file {
   cond_eval libglobus_gaa_simple_$f.so gaa_simple_check_local_access
   idcred no
}

cond_eval NotBefore utctime {
   cond_eval libglobus_gaa_simple_$f.so gaasimple_utc_time_notbefore_cond
   idcred no
}

cond_eval NotOnOrAfter utctime {
   cond_eval libglobus_gaa_simple_$f.so gaasimple_utc_time_notonorafter_cond
   idcred no
}

cond_eval userok local {
   cond_eval libglobus_gaa_simple_$f.so gaa_simple_check_trivial_cond
   sym_params libglobus_gaa_simple_$f.so trivial_yes
   idcred no
}

getpolicy {
   getpolicy libglobus_gaa_simple_$f.so gaa_simple_read_saml
   params null
}

get_authz_identity {
   get_authz_identity libglobus_gaa_simple_$f.so gaa_simple_get_saml_signer_identity
   params null
}
