Source: globus-simple-ca
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 6.0.7~), autotools-dev, quilt, libglobus-common-dev (>= 14), pkg-config
Standards-Version: 3.9.0
Section: net
DM-Upload-Allowed: yes
Homepage: http://www.globus.org/

Package: globus-simple-ca
Section: net
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, globus-gsi-cert-utils-progs, globus-common-progs (>= 13)
Description: Globus Simple CA
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-simple-ca package contains:
 Globus Simple CA Programs
