#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/quilt/quilt.make

name = globus-simple-ca
_name = globus_simple_ca
version = 4.24

_prefix = /usr
_bindir = $(_prefix)/bin
_sbindir = $(_prefix)/sbin
_libdir = $(_prefix)/lib
_datadir = $(_prefix)/share
_libexecdir = $(_datadir)/globus
_mandir = $(_datadir)/man
_docdir = $(_datadir)/doc
_sysconfdir = /etc

override_dh_auto_configure:
	dh_auto_configure --  \
            --enable-silent-rules \
	   --docdir='$(_docdir)/$(name)' \
           --localstatedir=/var \
           --libexecdir='$(_libexecdir)' \
           --sysconfdir='$(_sysconfdir)'

%:
	dh $@  --with autotools-dev

.PHONY: override_dh_auto_configure
