Source: globus-gram-job-manager-pbs
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, libglobus-scheduler-event-generator-dev
Standards-Version: 3.9.0
Section: net
DM-Upload-Allowed: yes
Homepage: http://www.globus.org/

Package: globus-gram-job-manager-pbs
Section: net
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager, globus-gram-job-manager-setup-pbs
Description: Globus Toolkit - PBS Job Manager Adapter
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-setup-pbs package contains:
 PBS Job Manager

Package: globus-gram-job-manager-pbs-setup-poll
Section: net
Architecture: all
Provides: globus-gram-job-manager-setup-pbs
Conflicts: globus-gram-job-manager-pbs-setup-seg
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager-pbs
Description: Globus Toolkit - PBS Job Manager Polling Setup
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-setup-pbs package contains:
 PBS Job Manager

Package: globus-gram-job-manager-pbs-setup-seg
Section: net
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager-pbs, globus-scheduler-event-generator-progs
Provides: globus-gram-job-manager-setup-pbs
Conflicts: globus-gram-job-manager-pbs-setup-poll
Description: Globus Toolkit - PBS Job Manager SEG Setup
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-setup-pbs package contains:
 PBS Job Manager SEG Setup

Package: globus-gram-job-manager-pbs-doc
Section: doc
Architecture: all
Depends: globus-gram-job-manager-pbs (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - PBS Job Manager Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-fork-doc package contains:
 PBS Job Manager Documentation Files
