Source: globus-gram-job-manager-callout-error
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, grid-packaging-tools, libglobus-common-dev (>= 14), globus-core (>= 5.15-5), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, texlive-latex-recommended, texlive-latex-extra, texlive-extra-utils, texlive-fonts-recommended, texlive-font-utils, ghostscript | gs-gpl
Standards-Version: 3.8.4
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gram-job-manager-callout-error
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gram-job-manager-callout-error
Homepage: http://www.globus.org/

Package: libglobus-gram-job-manager-callout-error0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus GRAM Jobmanager Callout Errors
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gram-job-manager-callout-error0 package contains:
 Globus GRAM Jobmanager Callout Errors

Package: libglobus-gram-job-manager-callout-error-dev
Section: libdevel
Architecture: any
Depends: libglobus-gram-job-manager-callout-error0 (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev, globus-core (>= 4)
Recommends: libglobus-gram-job-manager-callout-error-doc (= ${binary:Version})
Description: Globus Toolkit - Globus GRAM Jobmanager Callout Errors Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gram-job-manager-callout-error-dev package contains:
 Globus GRAM Jobmanager Callout Errors Development Files

Package: libglobus-gram-job-manager-callout-error-doc
Section: doc
Architecture: any
Depends: libglobus-gram-job-manager-callout-error-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GRAM Jobmanager Callout Errors Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gram-job-manager-callout-error-doc package contains:
 Globus GRAM Jobmanager Callout Errors Documentation Files

Package: libglobus-gram-job-manager-callout-error-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gram-job-manager-callout-error0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GRAM Jobmanager Callout Errors Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gram-job-manager-callout-error-dbg package contains:
 Globus GRAM Jobmanager Callout Errors Debug Symbols

Package: globus-gram-job-manager-callout-error-dbg
Section: oldlibs
Priority: extra
Architecture: all
Depends: libglobus-gram-job-manager-callout-error-dbg (= ${binary:Version})
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
