Source: myproxy-oauth
Section: unknown
Priority: extra
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.3

Package: myproxy-oauth
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.5), python-crypto (>=2.2) | python-m2crypto, python-crypto (>= 2.0), python-openssl, python-httplib2, libapache2-mod-wsgi
Description: myproxy-oauth
 The Globus Toolkit is an open source software toolkit used for building Grid
 systems and applications. It is being developed by the Globus Alliance and
 many others all over the world. A growing number of projects and companies are
 using the Globus Toolkit to unlock the potential of grids for their cause.
 .
 The globus-connect-multiuser package contains:
 MyProxy OAuth Delegation Service

