#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

INSTALLDIR = $(CURDIR)/debian/tmp
libdir = /usr/share
sbindir = /usr/sbin
name = myproxy-oauth

%:
	dh $@

clean:
	dh clean
	python setup.py clean -a
	cd transferapiclient; python setup.py clean -a; 
	rm -rf debian/globus-connect-multiuser.install
	rm -f build-stamp

build: build-stamp
	:

build-stamp:
	python setup.py build
	touch $@

install-stamp: build-stamp
	python setup.py install --install-layout=deb \
            --root=$(INSTALLDIR) --no-compile \
            --install-lib /usr/share/$(name) \
            --install-scripts /usr/share/$(name) \
            --install-data /usr/share/doc/$(name)
	mkdir -p $(INSTALLDIR)$(sbindir)
	sed -e s'!@PYTHONPATH@!/usr/share/$(name)!' \
            < $(CURDIR)/debian/myproxy-oauth-setup.in \
            > $(INSTALLDIR)/$(sbindir)/myproxy-oauth-setup
	chmod 0755 $(INSTALLDIR)/$(sbindir)/myproxy-oauth-setup
	find debian/tmp -type f | while read filename; do \
		echo "$$filename" |sed -e s"|debian/tmp/||"; \
	done > debian/myproxy-oauth.install
	dh_install

install: install-stamp
	:

binary-indep: install
	dh $@

binary: install
	dh $@

.PHONY: clean build install binary binary-indep
