include *.8
include-recursive *.py
include *.sql
include *.xml
include xinclude.mod
include usage-tools.conf
include index.html
include usagestats.cron
include init/globus-usage-collector
include globus-usage-tools.spec
