body

{

	background-color: #FFFFFF;

	font-family: Verdana, Arial, Helvetica, sans-serif; 

	font-size: 80%;

	

	}



p, td {

    font-size: 1em;

	font-family: Verdana, Arial, Helvetica, sans-serif;

    color: #000000;

}



th

{

    text-align: left;

}



pre {
	font-family: monospace;
    font-size: 1em;
    display: block;
	padding: 10px;
    background-color: #BAD4FF;
    border: thin solid #02007F;
    width: auto;
	color: #000;   
    /*overflow: auto; */
    border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    margin: 0.5em 2em;
}

.screen {
	font-family: monospace;
	font-size: 1em;
	display: block;
	padding: 10px;
	border: 1px solid #02007F;
	background-color: #BAD4FF;
	color: #000;   
	/*overflow: auto; */
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	margin: 0.5em 2em;
}
/*
table.td.screen {
	font-family: monospace;
    font-size: 1em;
    display: block;
	padding: 10px;
    background-color: #BAD4FF;
    border: thin solid #02007F;
    width: auto;
	color: #000;   
	overflow: visible;
    border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    margin: 0.5em 2em;
}

table.td.pre {
	font-family: monospace;
    font-size: 1em;
    display: block;
	padding: 10px;
    background-color: #BAD4FF;
    border: thin solid #02007F;
    width: auto;
	color: #000;   
	overflow: visible;
    border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    margin: 0.5em 2em;
}
*/
.programlisting {

        font-family: monospace;

        font-size: 1em;

        display: block;

        padding: 10px;

        border: 1px solid #02007F;

        background-color: #BAD4FF;

        color: #000;   

        overflow: auto;

        border-radius: 2.5px;

        -moz-border-radius: 2.5px;

        margin: 0.5em 2em;

}



dt {

	font-weight: bold;

}



.toc dt {

	padding-top: 15px;

	font-size: 1.1em;

	}

	

.toc dd dt {

	padding-top: 3px;

	}

	

.panel {

    font-size: .85em;

	font-family: Verdana, Arial, Helvetica, sans-serif;

}





.code {

	font-family:"Courier New", Courier, mono;

	font-size: 1em;

}



.newsdate {

    font-size: .85em;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #666;

}



a

{

	color: #003390;

}



a:visited

{

    color: #808080;

}



a:hover

{

	text-decoration: underline;

}



h1 {

    color: #CC0000;

    font-size: 1.4em;

}



h2 {

    color: #000;

    font-size: 1.2em;

/*		padding-top: 5px;

	margin-bottom: 10px;

border-bottom: 1px solid #666; */

}



h3 {

    color: #000;

    font-size: 1.1em;

}



h4 {

    color: #000;

    font-size: 1.0em;

}



h5 {

    color: #000;

    font-size: .99em;

	font-style: italic;

}





table {

     border: 0px none #ffffff;

     margin-top: 0.25em;

     margin-bottom: 0.5em;

     margin-left: 0em;

     margin-right: 1em; 

}





table.navbartable {

     margin-top: 0em;

}



table.navbartable th {

    color: #000000;

    text-align: left;

    vertical-align: middle;

    font-size: .85em;

    font-weight: normal;

    padding-left: 1.5em;

}



table.navbartable td {

    text-align: right;

    vertical-align: middle;

}





th,td {

     vertical-align: top;

     text-align: left;

     padding-top: 0.33em;

     padding-bottom: 0.33em;

     padding-left: 0.33em;

     padding-right: 0.33em;

}





.title {

    color: #CC0000;

    font-weight: bold;

}



.first {

	margin-top: 0;

}



.last {

	margin-bottom: 0;

}





.clearing {

  height: 0;

  clear: both;

}



#header {

padding: 0;

}



#headerlinks {

     float: right;

     width: 100px;

	}



#menu {

	margin : 0;

	line-height: 2em;

	background-color: #0058b4;

	padding : 2px 0;

}



#menu li	{

	display : inline;

	list-style-type : none;

	padding-left: 1em;

}



#menu a:link, #menu a:visited	{

	background-color : transparent;

	color: #FFF;

	text-decoration : none;

	padding: .55em;	

}



#menu a:hover, #menu a:focus 	{

	background-color: #99ccff;

	color: #003390;

}



	

#menu li#nav-3 a {

	background-color:#6699FF;

	line-height: 1.4em;

	border-style:none;

	color: #fff;

	padding: .52em;

}



#outer_wrapper {

  background: url(../images/background_2_white.gif) repeat-y left;

  margin: 0;

  padding: 0;

}



#wrapper {

  background: url(../images/background_150_white.gif) repeat-y left;

  margin: 0px;

  padding: 0px;



}



#container {

  width: 100%;

/*  float: right;

  margin-left: -150px;

  background: url(../images/background_150_white.gif) repeat-y left;

  padding-left: 0;

  border:1px solid #fff;*/

}



#home {

	margin-left: 15px;

	margin-right: 10px;

	margin-top: 15px;

/*	font-size: 1.0em;

	text-align: left;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 5px;*/

	padding-right: 5px;

	padding-left: 5px;



}



#home p, h1, h2, h3 { 

	margin: 1em 0 1em 0;

	font-family: Verdana, Arial, Helvetica, sans-serif;

}



#home h2, h3 { 

	font-size: 1.0em;

	}



#home ul {

	list-style-type: none;

	margin: 0;

}



#home li {

	background-image: url(../images/right_arrow_red.gif);

	background-repeat: no-repeat;

	background-position: 0 .4em;

	padding-left: 2.2em;

	padding-right: 0;

	margin: 5px 0px;

/*	font-weight: bold; */

/*	font-size: .95em; */

}



#home li ul {

	margin: 0;

	padding: 0;

	}



#home ul ul li { 

	margin: 3px 0px; 

	padding-right: 0;

}



#home a:link {

	color: #003390;

	text-decoration: none;

}



#home a:hover {

	color: #003390;

	text-decoration: underline;

}



#home a:visited {

	color: #003390;

	text-decoration: none;

}



#home dl dd {

	font-size: .95em;

	}

	

#home dl {

	margin-top: 0px;

	}



#home dt {

	font-weight: normal;

	}

#home dd {

	margin-left: 10px;

	margin-bottom: 5px;

	font-weight: normal;

	}

	

#content {

	margin-left: 15px;

	margin-top: 10px;	

	margin-right: 15px;	

	padding-left: 5px;

	padding-right: 5px;

}



#content p, h1, h2, h3, h4, h5 { 

	margin: 1em 0 1em 0;

}



#content blockquote {

        margin: 1em 0 1em 2.5em;

}



#content li, #content dd {

        margin-top: 0;

        margin-bottom: 0;

        margin-left: 2.2em;

        margin-right: 0;

}



.subnav {

	font-weight: bold;
	font-size: 1.2em;
	
	color: #CC0000;



	}





#breadcrumbs {

	margin-left: 20px;

	margin-top: -25px;

	font-size: .85em;

	padding-bottom: 20px; 

	

	}



#nolines table, #nolines th, #nolines td  {

border-width: 0;

border-style:none;

}





tt {

	font-family:"Courier New", Courier, mono;

	font-size: 1em;

}



.command-option dt {

	margin-top: 10px;

	font:"Courier New", Courier, mono;

	font-size: .9em;

	font-weight: bold;

}



.command-option dd {

	margin-top: 5px;

}





#doclist li {

	list-style-type: none;

	line-height: 24px;

}



#doclist li ul li {

	list-style-type: square;

	line-height: 16px;

}



#procedure li {

	margin: 10px 0 10px 0;

}



.matrix {

    font-size: .85em;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #333333;

}

#solutions-sidebar {

    	background-color: #BAD4FF;

    	border: thin solid #02007F;

	    color: #000000;

        width: 200px;

        margin-top: 0px;

        margin-left: 5px;

        margin-right: 5px;

        margin-bottom: 5px;

		padding: 5px;	

}



#solutions-sidebar h2 {

        padding-top: 0.5em;

	padding-left: 0.5em;

	margin: 0;

}

#solutions-sidebar ul {

	list-style-type: none;

	padding-left: 0.5em;

	margin: 0;

}



#solutions-sidebar li {

	background-image: url(http://www-unix.globus.org/images/right_arrow.gif);

	background-repeat: no-repeat;

	background-position: 0 .3em;

	padding-left: 2.5em;

	margin: 1em 0;

        font-size: .75em; 

        font-weight: bold;

        text-align: left;

        line-height: 10px;

}

#draft {

	text-align: center;

	background-color: #FFFF99;

	border:1px solid #ccc;

	padding: 5px; 

	margin: 10px 0px;

	font-size: .85em;

}



#sidebar {

	width: auto;

	float: right;

	font-size: .75em; 

	text-align: left;

	line-height: 18px;

	font-weight: bold;

}







#footer {

	clear: both;

	text-align: center;

}



#footer p {

    font-size: .85em;

	font-family: Verdana, Arial, Helvetica, sans-serif;

    color: #6699FF;

	margin-top: 15px;

}

	

#footer a:link {

	color: #003390;

	text-decoration: none;

	border-bottom: 1px solid #999;

}



#footer a:visited {

	color: #003366;

}

	

#footer a:hover {

	color: #000;

}

.docblurb
{
	color: #333333;
    vertical-align: top;
    font-size: .8em;
    font-family: Verdana,Sans-serif;
}


#blurb {
	width: 60%; 
	margin-left: auto; 
	margin-right: auto;
}