Source: globus-xio-rate-driver
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libglobus-common-dev (>= 0), libglobus-xio-dev (>= 0), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, pkg-config
Standards-Version: 3.9.2
Section: net
Homepage: http://www.globus.org/

Package: libglobus-xio-rate-driver
Section: libs
Architecture: any
Provides: libglobus-xio-rate-driver0
Conflicts: libglobus-xio-rate-driver0
Replaces: libglobus-xio-rate-driver0
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus XIO Rate Limiting Driver
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-xio-rate-driver package contains:
 Globus XIO Rate Limiting Driver

Package: libglobus-xio-rate-driver-dev
Section: libdevel
Architecture: any
Depends: libglobus-xio-rate-driver (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev, libglobus-xio-dev
Description: Globus Toolkit - Globus XIO Rate Limiting Driver Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-xio-rate-driver-dev package contains:
 Globus XIO Rate Limiting Driver Development Files

Package: libglobus-xio-rate-driver-dbg
Section: debug
Priority: extra
Architecture: any
Provides: globus-xio-rate-driver-dbg
Conflicts: globus-xio-rate-driver-dbg
Replaces: globus-xio-rate-driver-dbg
Depends: libglobus-xio-rate-driver (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus XIO Rate Limiting Driver Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-xio-rate-driver-dbg package contains:
 Globus XIO Rate Limiting Driver Debug Symbols
