#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

name=globus-toolkit-repo
datadir=/usr/share/globus-toolkit-repo
sourceslistdir=$(datadir)/sources.list.d

override_dh_auto_clean:
	rm -f *.repo *.list

override_dh_auto_build:
	./globus-generate-repo -d

override_dh_auto_install:
	mkdir -p debian/globus-toolkit-repo/$(sourceslistdir)
	cp RPM-GPG-KEY-Globus debian/$(name)/$(datadir)
	cp *.list debian/$(name)/$(sourceslistdir)

%:
	dh $@

.PHONY:  override_dh_auto_clean override_dh_auto_build override_dh_auto_install 
