Source: globus-gsi-sysconfig
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 9), autotools-dev, quilt, libglobus-common-dev (>= 15), libglobus-openssl-module-dev (>= 3), libglobus-gsi-openssl-error-dev (>= 2), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, pkg-config, dh-exec
Standards-Version: 3.8.4
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gsi-sysconfig
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gsi-sysconfig
Homepage: http://www.globus.org/

Package: libglobus-gsi-sysconfig1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus GSI System Config Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-sysconfig1 package contains:
 Globus GSI System Config Library

Package: libglobus-gsi-sysconfig-dev
Section: libdevel
Architecture: any
Depends: libglobus-gsi-sysconfig1 (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev, libglobus-openssl-module-dev, libglobus-gsi-openssl-error-dev
Recommends: libglobus-gsi-sysconfig-doc (= ${binary:Version})
Description: Globus Toolkit - Globus GSI System Config Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-sysconfig-dev package contains:
 Globus GSI System Config Library Development Files

Package: libglobus-gsi-sysconfig-doc
Section: doc
Architecture: any
Depends: libglobus-gsi-sysconfig-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI System Config Library Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-sysconfig-doc package contains:
 Globus GSI System Config Library Documentation Files

Package: libglobus-gsi-sysconfig-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gsi-sysconfig1 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI System Config Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-sysconfig-dbg package contains:
 Globus GSI System Config Library Debug Symbols
