Source: globus-gridmap-callout-error
Priority: optional
Maintainer: Globus Toolkit <support@globus.org>
Build-Depends: debhelper (>= 5), autotools-dev, grid-packaging-tools, libglobus-common-dev (>= 14), globus-core (>= 8), libglobus-gssapi-error-dev (>=4), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, texlive-latex-recommended, texlive-latex-extra, texlive-extra-utils, texlive-fonts-recommended, texlive-font-utils, ghostscript | gs-gpl
Standards-Version: 3.8.4
Section: net
Homepage: http://www.globus.org/

Package: libglobus-gridmap-callout-error0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap Callout Errors
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-callout-error0 package contains:
 Globus Gridmap Callout Errors

Package: libglobus-gridmap-callout-error-dev
Section: libdevel
Architecture: any
Depends: libglobus-gridmap-callout-error0 (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev, globus-core (>= 4), libglobus-gssapi-error-dev
Recommends: libglobus-gridmap-callout-error-doc (= ${binary:Version})
Description: Globus Toolkit - Globus Gridmap Callout Errors Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-callout-error-dev package contains:
 Globus Gridmap Callout Errors Development Files

Package: libglobus-gridmap-callout-error-doc
Section: doc
Architecture: any
Depends: libglobus-gridmap-callout-error-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap Callout Errors Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridmap-callout-error-doc package contains:
 Globus Gridmap Callout Errors Documentation Files

Package: globus-gridmap-callout-error-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gridmap-callout-error0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Gridmap Callout Errors Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gridmap-callout-error-dbg package contains:
 Globus Gridmap Callout Errors Debug Symbols
