recursive-include globus *.py
include man/man8/*.8
include templates/*.in
include globus-connect-server-*setup
include globus-connect-server-*cleanup
include globus-connect-server.conf
include globus/connect/security/*.pem
include globus/connect/security/*.signing_policy
include globus/connect/security/cilogon-crl-fetch
include globus/connect/server/mapapp-template
include globus/connect/server/version
