recursive-include gcmu *.py
include templates/*.in
include gcmu-setup-endpoint
include gcmu-setup-services
include gcmu.conf
include gcmu/*.pem
include gcmu/*.signing_policy
include gcmu/mapapp-template
include pkg_data_src.gpt
