recursive-include globus/connect *.py
include templates/*.in
include globus-connect-multiuser-setup
include globus-connect-multiuser.conf
include globus/connect/security/*.pem
include globus/connect/security/*.signing_policy
include globus/connect/multiuser/mapapp-template
