Source: globus-xio
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libglobus-common-dev, doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, pkg-config, libltdl-dev
Standards-Version: 3.8.4
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-xio
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-xio
Homepage: http://www.globus.org/

Package: libglobus-xio0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus XIO Framework
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-xio0 package contains:
 Globus XIO Framework

Package: libglobus-xio-dev
Section: libdevel
Architecture: any
Depends: libglobus-xio0 (= ${binary:Version}), ${misc:Depends}, libglobus-common-dev
Recommends: libglobus-xio-doc (= ${binary:Version})
Description: Globus Toolkit - Globus XIO Framework Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-xio-dev package contains:
 Globus XIO Framework Development Files

Package: libglobus-xio-doc
Section: doc
Architecture: any
Depends: libglobus-xio-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus XIO Framework Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-xio-doc package contains:
 Globus XIO Framework Documentation Files

Package: libglobus-xio-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-xio0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus XIO Framework Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-xio-dbg package contains:
 Globus XIO Framework Debug Symbols
