Source: globus-gsi
Section: net
Priority: extra
Maintainer: Globus Support <support@globus.org>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.globus.org/

Package: globus-gsi
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, globus-common-progs, globus-gsi-cert-utils-progs, globus-gss-assist-progs, globus-proxy-utils, globus-simple-ca
Description: Globus GRAM5 Metapackage
 This package contains dependencies to install the packages related to
 the GSI component of the Globus Toolkit.
