<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>MyProxy Delegation Service</title>
    <link rel="stylesheet" type="text/css" href="static/oauth.css" >
    <link rel="stylesheet" type="text/css" href="static/site.css" >
</head>
<body>
<div id="header">
    <a id="logo" href="http://globusonline.org/"></a>
    <div id="title">MyProxy Delegation Service</div>
</div>
<div id="sep"></div>
<div id="main">
    <div id="topic"><h1>MyProxy Client Authorization</h1></div>
    <div id="message">
    Welcome to the OAuth for MyProxy Client Authorization Page.
    The Client below is requesting access to your account. If you approve,
    please sign in with your username and password.
    </div>
    <table border="0"><tr><td valign="top">
    <table border="0"><tr><th>Client Information</th></tr>
    <tr><td>Name: {{ client_name }}<br>
    URL: <a href="{{ client_url }}">{{ client_url }}</a></td></tr>
    </table></td><td width="70"></td><td>
    <form action="/oauth/authorize" method="post"">
        <table border="0">
            <tr>
                <th>Username</th>
                <td colspan="2"><input type="text" size="25" name="username"/></td>
            </tr>
            <tr>
                <th>Password</th>
                <td colspan="2"><input type="password" size="25" name="passphrase"/></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="Sign In"/></td><td><input type="submit" value="Cancel"/></td>
            </tr>
        </table>
        <input type="hidden" id="token" name="oauth_token" value="{{ temp_token }}"/>
    </form>
    </td></tr>
        <tr>
            <td colspan="3" align="center"><b><font color="red">{{ retry_message }}</font></b></td>
        </tr>
    </table>
</div>
</body>
</html>
<!--
  User: Jeff Gaynor
  Date: 9/25/11
  Time: 6:42 PM
  Properties supplied:
  * clientName = the name of the client
  * clientHome = the home uri of the client
  * AuthUserName = field name containing the user name on submission
  * AuthPassword = field name containing the user's password on submission
  * retryMessage = message displayed if the login in fails.
  * tokenKey = name of hidden field to pass along the authorizationGrant
  * actionToTake = what action that submitting the form invokes.
  * authorizationGrant = the identifier for this transaction
  * action = name of field containing the action the servlet should take
  * actionOk = content of action field in this case telling the service to continue processing.

-->
