Source: globus-gram-job-manager-slurm
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.9.0
Section: net
DM-Upload-Allowed: yes
Homepage: http://www.globus.org/

Package: globus-gram-job-manager-slurm
Section: net
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager, globus-gram-job-manager-setup-slurm
Recommends: slurm-llnl
Description: Globus Toolkit - SLURM Job Manager Adapter
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-setup-slurm package contains:
 SLURM Job Manager

Package: globus-gram-job-manager-slurm-setup-poll
Section: net
Architecture: all
Provides: globus-gram-job-manager-setup-slurm
Conflicts: globus-gram-job-manager-slurm-setup-seg
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager-slurm
Description: Globus Toolkit - SLURM Job Manager Polling Setup
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-setup-slurm package contains:
 SLURM Job Manager

