#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
MAKEFLAGS += -j$(NUMJOBS)
endif

name = globus-gram-job-manager-slurm
_name = globus_gram_job_manager_slurm
version = 1.2

INSTALLDIR = $(CURDIR)/debian/tmp
GLOBUSPACKAGEDIR = $(INSTALLDIR)$(_datadir)/globus/packages

_prefix = /usr
_bindir = $(_prefix)/bin
_sbindir = $(_prefix)/sbin
_libdir = $(_prefix)/lib
_datadir = $(_prefix)/share
_mandir = $(_datadir)/man
_docdir = $(_datadir)/doc

DEB_BUILD_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU)

perl_vendorlib = $(shell eval "`perl -V:installvendorlib`"; echo $$installvendorlib)

configure: configure-stamp
	:

configure-stamp:
	dh_testdir

	/usr/share/globus/globus-bootstrap.sh

	for f in config.sub config.guess ; do \
	  if [ -e /usr/share/misc/$$f -a ! -e $$f.dist ] ; then \
	    mv $$f $$f.dist ; \
	    cp -f /usr/share/misc/$$f $$f ; \
	  fi ; \
	done

	MPIEXEC=no \
        MPIRUN=no \
        QDEL=/usr/bin/qdel \
        QSTAT=/usr/bin/qstat \
        QSUB=/usr/bin/qsub \
        ./configure \
	   --host=$(DEB_HOST_GNU_TYPE) \
	   --build=$(DEB_BUILD_GNU_TYPE) \
	   --prefix=$(_prefix) \
	   --mandir='$${datadir}/man' \
	   --infodir='$${datadir}/info' \
           --docdir='$(_docdir)/$(name)' \
           --with-globus-state-dir='/var/lib/globus' \
           --disable-static \
           --with-log-path=/var/spool/torque/server_logs

	touch $@

build: build-stamp
	:

build-stamp: configure-stamp
	dh_testdir

	$(MAKE)

	touch $@

clean: cleanup
	:

cleanup:
	dh_testdir
	dh_testroot

	if [ -r Makefile ] ; then $(MAKE) distclean ; fi

	for f in config.sub config.guess ; do \
	  if [ -e $$f.dist ] ; then \
	    mv -f $$f.dist $$f ; \
	  fi ; \
	done

	# Remove autogenerated files

	rm -f aclocal.m4
	rm -f configure
	rm -f config.guess
	rm -f config.sub
	rm -f ltmain.sh
	rm -f mkinstalldirs

	rm -f pkgdata/Makefile.am
	rm -f pkgdata/*.filelist
	rm -f pkgdata/*.gpt
	rm -f globus_automake*
	rm -f pkgdata/*.pc
	rm -f mpi_type.rvf
	rm -rf autom4te.cache

	find . -name Makefile.in -exec rm {} ';'

	rm -f build-stamp configure-stamp

	dh_clean debian/*.install

install: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k

	$(MAKE) install DESTDIR=$(INSTALLDIR)

	# Remove jobmanager-slurm file
	rm $(INSTALLDIR)/etc/grid-services/jobmanager-slurm

	# Generate package filelists
	cat $(GLOBUSPACKAGEDIR)/$(_name)/noflavor_data.filelist \
	  | grep -Ev 'available|^/etc' \
	  | sed s!^!debian/tmp$(_prefix)! > debian/$(name).install

	cat $(GLOBUSPACKAGEDIR)/$(_name)/noflavor_data.filelist \
	  | grep -v 'available' \
	  | grep '^/etc' \
	  | sed s!^!debian/tmp! >> debian/$(name).install

	cat $(GLOBUSPACKAGEDIR)/$(_name)/noflavor_rtl.filelist \
	  | sed s!^!debian/tmp$(_prefix)! >> debian/$(name).install

	cat $(GLOBUSPACKAGEDIR)/$(_name)/noflavor_data.filelist \
	  | grep 'slurm-poll' \
	  | sed s!^!debian/tmp! >> debian/$(name)-setup-poll.install

	cat $(GLOBUSPACKAGEDIR)/$(_name)/noflavor_doc.filelist \
	  | sed s!^!debian/tmp$(_prefix)! > debian/$(name)-doc.install

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install --fail-missing
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
#	:

binary: binary-indep binary-arch
	:

.PHONY: build clean binary-indep binary-arch binary install configure
