Source: globus-gsi-credential
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, libglobus-gsi-callback-dev, libglobus-openssl-module-dev, libglobus-gsi-openssl-error-dev, libglobus-gsi-cert-utils-dev, libglobus-common-dev, libglobus-gsi-sysconfig-dev, doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz
Standards-Version: 3.9.0
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gsi-credential
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gsi-credential
Homepage: http://www.globus.org/

Package: libglobus-gsi-credential1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus GSI Credential Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-credential1 package contains:
 Globus GSI Credential Library

Package: libglobus-gsi-credential-dev
Section: libdevel
Architecture: any
Depends: libglobus-gsi-credential1 (= ${binary:Version}), ${misc:Depends}, libglobus-gsi-callback-dev, libglobus-openssl-module-dev, libglobus-gsi-openssl-error-dev, libglobus-gsi-cert-utils-dev, libglobus-common-dev, libglobus-gsi-sysconfig-dev
Recommends: libglobus-gsi-credential-doc (= ${binary:Version})
Description: Globus Toolkit - Globus GSI Credential Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-credential-dev package contains:
 Globus GSI Credential Library Development Files

Package: libglobus-gsi-credential-doc
Section: doc
Architecture: any
Depends: libglobus-gsi-credential-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI Credential Library Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-credential-doc package contains:
 Globus GSI Credential Library Documentation Files

Package: globus-gsi-credential-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gsi-credential1 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI Credential Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gsi-credential-dbg package contains:
 Globus GSI Credential Library Debug Symbols
