Source: globus-gsi-callback
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, grid-packaging-tools, libglobus-gsi-proxy-ssl-dev (>= 4), libglobus-openssl-module-dev, libglobus-gsi-openssl-error-dev,  globus-core (>= 7.7), libglobus-gsi-cert-utils-dev (>= 8), libglobus-common-dev (>= 14), libglobus-gsi-sysconfig-dev (>= 5), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, texlive-fonts-recommended, texlive-font-utils, ghostscript, texlive-latex-extra, latex-xcolor
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gsi-callback
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gsi-callback
Homepage: http://www.globus.org/

Package: libglobus-gsi-callback0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus GSI Callback Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-callback0 package contains:
 Globus GSI Callback Library

Package: libglobus-gsi-callback-dev
Section: libdevel
Architecture: any
Depends: libglobus-gsi-callback0 (= ${binary:Version}), ${misc:Depends}, libglobus-gsi-proxy-ssl-dev, libglobus-openssl-module-dev, libglobus-gsi-openssl-error-dev, globus-core (>= 7), libglobus-gsi-cert-utils-dev, libglobus-common-dev, libglobus-gsi-sysconfig-dev
Recommends: libglobus-gsi-callback-doc (= ${binary:Version})
Description: Globus Toolkit - Globus GSI Callback Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-callback-dev package contains:
 Globus GSI Callback Library Development Files

Package: libglobus-gsi-callback-doc
Section: doc
Architecture: any
Depends: libglobus-gsi-callback-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI Callback Library Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-callback-doc package contains:
 Globus GSI Callback Library Documentation Files

Package: libglobus-gsi-callback-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gsi-callback0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus GSI Callback Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gsi-callback-dbg package contains:
 Globus GSI Callback Library Debug Symbols

Package: globus-gsi-callback-dbg
Section: oldlibs
Priority: extra
Architecture: all
Depends: libglobus-gsi-callback-dbg (= ${binary:Version})
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
