Source: globus-callout
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, grid-packaging-tools, libltdl3-dev, libglobus-common-dev (>= 14), globus-core (>= 7.7), doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, texlive-latex-recommended, texlive-latex-extra, texlive-extra-utils, texlive-fonts-recommended, texlive-font-utils, ghostscript | gs-gpl
Standards-Version: 3.8.4
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-callout
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-callout
Homepage: http://www.globus.org/

Package: libglobus-callout0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus Callout Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-callout0 package contains:
 Globus Callout Library

Package: libglobus-callout-dev
Section: libdevel
Architecture: any
Depends: libglobus-callout0 (= ${binary:Version}), ${misc:Depends}, libltdl3-dev, libglobus-common-dev, globus-core (>= 7)
Recommends: libglobus-callout-doc (= ${binary:Version})
Description: Globus Toolkit - Globus Callout Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-callout-dev package contains:
 Globus Callout Library Development Files

Package: libglobus-callout-doc
Section: doc
Architecture: any
Depends: libglobus-callout-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Callout Library Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-callout-doc package contains:
 Globus Callout Library Documentation Files

Package: libglobus-callout-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-callout0 (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Callout Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-callout-dbg package contains:
 Globus Callout Library Debug Symbols

Package: globus-callout-dbg
Section: oldlibs
Priority: extra
Architecture: all
Depends: libglobus-callout-dbg (= ${binary:Version})
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
