Source: globus-gass-cache-program
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libglobus-common-dev, libglobus-gram-client-dev, libglobus-gass-server-ez-dev, libglobus-gass-copy-dev, libglobus-gass-cache-dev
Standards-Version: 3.8.4
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gass-cache-program
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gass-cache-program
Homepage: http://www.globus.org/

Package: globus-gass-cache-program
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: Globus Toolkit - Tools to manipulate local and remote GASS caches
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gass-cache-program package contains:
 Tools to manipulate local and remote GASS caches

Package: globus-gass-cache-program-dbg
Section: debug
Priority: extra
Architecture: any
Depends: globus-gass-cache-program (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Tools to manipulate local and remote GASS caches Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gass-cache-program-dbg package contains:
 Tools to manipulate local and remote GASS caches Debug Symbols
