Source: globus-gass-copy
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, libglobus-ftp-client-dev, libglobus-common-dev, libglobus-gssapi-gsi-dev, libglobus-io-dev, libglobus-gass-transfer-dev, libglobus-ftp-control-dev, globus-gridftp-server-progs, libglobus-gridftp-server-dev, doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, pkg-config, libltdl-dev
Standards-Version: 3.9.2
Section: net
DM-Upload-Allowed: yes
Vcs-Browser: http://svn.nordugrid.org/trac/packaging/browser/debian/globus-gass-copy
Vcs-Svn: http://svn.nordugrid.org/repos/packaging/debian/globus-gass-copy
Homepage: http://www.globus.org/

Package: libglobus-gass-copy2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglobus-ftp-client2
Description: Globus Toolkit - Globus Gass Copy
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gass-copy2 package contains:
 Globus Gass Copy

Package: globus-gass-copy-progs
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus Toolkit - Globus Gass Copy Programs
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gass-copy-progs package contains:
 Globus Gass Copy Programs

Package: libglobus-gass-copy-dev
Section: libdevel
Architecture: any
Depends: libglobus-gass-copy2 (= ${binary:Version}), ${misc:Depends}, libglobus-ftp-client-dev, libglobus-common-dev, libglobus-gssapi-gsi-dev, libglobus-io-dev, libglobus-gass-transfer-dev, libglobus-ftp-control-dev
Recommends: libglobus-gass-copy-doc (= ${binary:Version})
Description: Globus Toolkit - Globus Gass Copy Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gass-copy-dev package contains:
 Globus Gass Copy Development Files

Package: libglobus-gass-copy-doc
Section: doc
Architecture: any
Depends: libglobus-gass-copy-dev (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Gass Copy Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gass-copy-doc package contains:
 Globus Gass Copy Documentation Files

Package: libglobus-gass-copy-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libglobus-gass-copy2 (= ${binary:Version})
Description: Globus Toolkit - Globus Gass Copy Library Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gass-copy-dbg package contains:
 Globus Gass Copy Library

Package: globus-gass-copy-dbg
Section: debug
Priority: extra
Architecture: any
Depends: globus-gass-copy-progs (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Globus Gass Copy Debug Symbols
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gass-copy-dbg package contains:
 Globus Gass Copy Program Debug Symbols
