Source: globus-gram-job-manager-sge
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, libglobus-scheduler-event-generator-dev (>= 4), pkg-config, dh-exec
Standards-Version: 3.9.0
Section: net
DM-Upload-Allowed: yes
Homepage: http://www.globus.org/

Package: globus-gram-job-manager-sge
Section: net
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager, gridengine-client, globus-gram-job-manager-setup-sge
Description: Globus Toolkit - Oracle Grid Engine Job Manager Adapter
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-setup-sge package contains:
 Oracle Grid Engine Job Manager

Package: globus-gram-job-manager-sge-setup-poll
Section: net
Architecture: all
Provides: globus-gram-job-manager-setup-sge
Conflicts: globus-gram-job-manager-sge-setup-seg
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager-sge
Description: Globus Toolkit - Oracle Grid Engine Job Manager Polling Setup
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-setup-sge package contains:
 Oracle Grid Engine Job Manager

Package: globus-gram-job-manager-sge-setup-seg
Section: net
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager-sge, globus-scheduler-event-generator-progs
Provides: globus-gram-job-manager-setup-sge
Conflicts: globus-gram-job-manager-sge-setup-poll
Description: Globus Toolkit - Oracle Grid Engine Job Manager SEG Setup
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-setup-sge package contains:
 Oracle Grid Engine Job Manager SEG Setup

Package: globus-gram-job-manager-sge-doc
Section: doc
Architecture: all
Depends: globus-gram-job-manager-sge (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Oracle Grid Engine Job Manager Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-fork-doc package contains:
 Oracle Grid Engine Job Manager Documentation Files
