* {
    margin: 0;
    padding: 0;
}
#header {
    min-height: 64px;
    background: url("headerbg.png") repeat scroll 0 0 transparent;
}
#logo {
    margin-left: 6px;
    width: 280px;
    height: 64px;
    display: inline;
    float: left;
    background: url("logo.png") no-repeat;
}
#title {
    margin-right: 30px;
    height: 64px;
    display: inline;
    float: right;
    line-height: 64px;
    font-family: MuseoSans,Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    color: #FFFFFF;
}
#main {
    width: 960px;
    min-height: 500px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
#sep {
    width: 100%;
    height: 32px;
    display: block;
    background-image: -webkit-linear-gradient(top, #F4F4F4 0%, white 75%);
    background-image: linear-gradient(top, #F4F4F4 0%, white 75%);
}
#topic {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #CCC;
    width: 780px;
    position: relative;
}
#message {
    width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
body {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #333;
}
h1 {
    display: inline;
    font-family: MuseoSans,Arial,sans-serif;
    font-weight: normal;
}
table {
    margin: auto;
}
th {
    padding: 5px;
    font-weight: bold;
    text-align: left;
}
td {
    padding: 5px;
}
input[type="submit"] {
    background: #5F8DC6;
    color: white;
    text-shadow: 1px 1px 1px #666;
    gradient(top, #709FD8 0%, #649EE2 58%, #5F8DC6 100%);
    background-image: linear-gradient(top, #709FD8 0%, #649EE2 58%, #5F8DC6 100%);
    border: 1px solid #4C80C0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 5px 0 0;
    padding: 4px 10px 5px;
    vertical-align: middle;
}
