Source: globus-gram-job-manager-condor
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config
Standards-Version: 3.9.0
Section: net
DM-Upload-Allowed: yes
Homepage: http://www.globus.org/

Package: globus-gram-job-manager-condor
Section: net
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, globus-gass-cache-program, globus-common-progs, globus-gram-job-manager
Description: Globus Toolkit - Condor Job Manager Adapter
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-condor package contains:
 Condor Job Manager Adapter

Package: globus-gram-job-manager-condor-doc
Section: doc
Architecture: all
Depends: globus-gram-job-manager-condor (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Condor Job Manager Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-fork-doc package contains:
 Condor Job Manager Documentation Files
