Source: globus-gram-job-manager-fork
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5), autotools-dev, quilt, grid-packaging-tools, globus-core, libglobus_common-dev >= 14, libglobus_xio-dev >= 3, libglobus_scheduler_event_generator >= 4, libglobus_gram_protocol >= 11, doxygen (<< 1.6.2-1) | doxygen (>> 1.6.2-1), graphviz, texlive-latex-recommended, texlive-latex-extra, texlive-extra-utils, texlive-fonts-recommended, texlive-font-utils, ghostscript | gs-gpl
Standards-Version: 3.9.0
Section: net
DM-Upload-Allowed: yes
Homepage: http://www.globus.org/

Package: globus-gram-job-manager-fork
Section: net
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, globus-gram-job-manager-fork-setup-poll (= ${binary:Version}) | globus-gram-job-manager-fork-setup-seg (= ${binary:Version}) 
Provides: globus-gram-job-manager-setup-fork
Replaces: globus-gram-job-manager-setup-fork
Recommends: globus-gram-job-manager-fork-doc (= ${binary:Version})
Description: Globus Toolkit - Fork Job Manager
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-fork package contains:
 Fork Job Manager

Package: globus-gram-job-manager-fork-setup-poll
Section: net
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, globus-gram-job-manager-fork
Recommends: globus-gram-job-manager-fork-doc (= ${binary:Version})
Description: Globus Toolkit - Fork Job Manager
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-fork package contains:
 Fork Job Manager

Package: globus-gram-job-manager-fork-setup-seg
Section: net
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, globus-gram-job-manager-fork
Recommends: globus-gram-job-manager-fork-doc (= ${binary:Version})
Description: Globus Toolkit - Fork Job Manager
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-fork package contains:
 Fork Job Manager

Package: globus-gram-job-manager-fork-doc
Section: doc
Architecture: all
Depends: globus-gram-job-manager-fork (= ${binary:Version}), ${misc:Depends}
Description: Globus Toolkit - Fork Job Manager Documentation Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-fork-doc package contains:
 Fork Job Manager Documentation Files
