#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
# export DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
export perl_vendorlib = $(shell eval "`perl -V:installvendorlib`"; echo $$installvendorlib)


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

_sysconfdir=/etc
_libdir=/usr/lib

override_dh_auto_configure:
	dh_auto_configure -- --sysconfdir=$(_sysconfdir) --enable-silent-rules --with-globus-state-dir='/var/lib/globus' --with-perlmoduledir='$(perl_vendorlib)' --disable-static --libdir=$(_libdir)/$(DEB_HOST_MULTIARCH) --enable-doxygen --docdir=/usr/share/doc/globus-gram-job-manager-fork

%:
	dh $@  --with autotools-dev

.PHONY: override_dh_auto_configure
